.aurora-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Placed behind all content */
    pointer-events: none;
    /* Make sure it doesn't block interactions */
}